.box{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    background-color: blue;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#an{
    width: 300px;
    height: 300px;
    animation-name: coloranimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes myanimation{

from{font-size: 20px;}
to{font-size: 50px;}

}
 @keyframes coloranimation {
    from{background-color: blue;}
    to{background-color: red;}
 }